* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

header{
	width: 100%;
	padding: 25px 0;
/*position: fixed;
  top: 0;*/
}

header .menu a{
	color: #fff;
	text-decoration: none;
	font-size: 37px;
	padding-left: 30px;
	padding-right: 30px;
}

header .menu a:hover{
	text-decoration: underline;
}

header .search {
	width: 100%;
	margin-top: 10px;
	display: inline-block;
	text-align: center;
}

header .search img {
	height: 50px;
	float: left;
	margin-left: 20px;
}

header .search h2 {
	width: 80%;
	display: initial;
}

header .search button{
	width: 50px;
	height: 50px;
	padding: 5px;
	float: right;
	margin-right: 23px;
	background-color: inherit;
	border: none;
	font-size: 25px;
}

header .menu {
	width: 100%;
	text-align: center;
	padding-top: 20px;
}
.serie {
	padding: 5px;
	text-align: center;
	margin: 20px;

}

.serie .img {
	width: 20%;
	float: left;
}

.serie .img img {
	width: 100%;
}

.serie h1 {
	text-align: left;
	padding:5px;
	width: 60%;
	float: left;
	font-size: 16px;
}

.serie .state {
	background: red;
	float: right;
	margin-left: 5px;
	padding: 2px;
	color: #fff;
	border-radius: 3px;
	font-size: 12px;
	margin-top: 5px;
	margin-right: 5px;
}

.serie .geners {
	float: left;
	width: 40%;
}
.serie .gener {
	float: left;
}

.serie .view {
	width: 35%;
	float: right;
	text-align: center;
}

.serie .view button {
	width: 20px;
	height: 20px;
	padding: 1px;
	box-sizing: content-box;
}

.serie progress {
  height:10px;
	max-width: 90%;
  margin-top:5px;
	border-radius: 9px;
	background-color: #fff;
}

progress[value] {
		background-color: red;
}

progress:not([value]) {
   /* Styling here */
}

progress[value] {
  width: 250px;
  height: 20px;
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;
  width: 250px;
  height: 20px;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.box-shadow {
  -webkit-box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.52);
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.52);
}

.geners .green {
	background-color:green;
}

.geners .yellow {
	background-color: yellow;
}

.geners .purple {
	background-color: purple;
}

.trends{
	margin: 0 auto;
}

.poster {
	width: 47%;
	position: relative;
	padding: 0;
	margin: 10px 5px;
	float: left;
}

.poster .img-t {
	width: 100%;
	position: relative;
}

.img-t .state {
	position: absolute;
	top: 0;
	right: 0;
}

.poster .img-t img {
	width: 100%;
}

.info {
	position: absolute;
	bottom:0;
	right: 0;
	left: 0;
	padding: 5px;
	background-color: #000;
	opacity: 0.75;
}

.info h1{
	width: 100%;
	font-size: 16px;
}

.info span {
	float: left;
}

.info .geners{
	width: 100%;
}

.info .gener {
	margin: 2px 3px;
	font-size: 7px;
}

.info p {
	float: right;
}

.icon-view{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: #fff;
	opacity: 0.6;
}

.icon-view span {
	font-size: 50px;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	margin-top: 50%;
	color: green;
}

.show-serie {
	text-align: center;
	position: inherit;
	background-color: #fff;
	opacity: 0.8;
}
.ser-img {
	width: 100%;
	position: absolute;
}

.show-serie .img {
	width: 35%;
}

.show-serie h1 {
	margin-left: 20px;
	width: 47%;
	font-size: 30px;
}

.show-serie .view {
	float: none;
}

.show-serie progress[value]{
	width: 90%;
}

.show-serie .star {
	margin-top: 45px;
	margin-left: 2px;
	float: left;
	font-size: 35px;
}

.show-serie .geners {
	width: 60%;
}

.episode-li {
	width: 100%;
	padding: 5px;
	margin: 20px;
	text-align: center;
	overflow: hidden;
}

.episode-li img {
	width: 30%;
	float: left;
	padding: 5px;
}

.episode-li .name {
	width: 70%;
	float: right;

}

.episode-li button {
	background-color: inherit;
	border: none;
	width: 20%;
	padding: 10px;
	font-size: 34px;
	float: right;
}

.header-serie {
	margin: 0;
}

.header-serie article {
	margin-top: 0;
}

.episodes {
	overflow: hidden;
}
.none {
	display: none;
}

/* Palette generated by Material Palette - materialpalette.com/deep-purple/pink */

.btn-circle{border-radius: 50%;}
.dark-primary-color    { background: #512DA8; }
.default-primary-color { background: #673AB7; }
.light-primary-color   { background: #D1C4E9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FF4081; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border:1px solid #BDBDBD; }
